<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365702523398-4tmrv6fm6tatti1jvotip9j9nce5f577.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365702523398-4tmrv6fm6tatti1jvotip9j9nce5f577</string>
	<key>API_KEY</key>
	<string>AIzaSyCWvLeu81rJe2CKg-MXqSHMs0lFZqk1Hyc</string>
	<key>GCM_SENDER_ID</key>
	<string>365702523398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parenthood</string>
	<key>PROJECT_ID</key>
	<string>parenthoodapp-flutter-db</string>
	<key>STORAGE_BUCKET</key>
	<string>parenthoodapp-flutter-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365702523398:ios:43e695a0359ab1d5923187</string>
</dict>
</plist>